<div class="container">
    <div class="text-center">
        <h1>Hello, {{loggedUser.fullname}}</h1>
        <p>What do you want to do today?</p>
    </div>

    <div class="row">

        <div class="col-md-4" id="colDesc">
            <div class="card text-center white">
                <i class="fa fa-group fa-4x"></i>
                <h3>ADD COMPANY</h3>
                <p>Add company profile. Employees can give company ratings and reviews</p>

                <a href="" class="btn btn-primary">Add Company</a>
            </div>
        </div>


        <div class="col-md-4" id="colDesc">
            <div class="card text-center white">
                <i class="fa fa-search fa-4x"></i>
                <h3>SEARCH</h3>
                <p>Search through our company catalogue. Find your best partner to start with</p>

                <a href="" class="btn btn-primary">Search Company</a>
            </div>
        </div>



        <div class="col-md-4" id="colDesc">
            <div class="card text-center white">
                <i class="fa fa-star fa-4x"></i>
                <h3>RATE COMPANY</h3>
                <p>Rate and review other companies and get your company reviewed as well.</p>

                <a href="" class="btn btn-primary">Rate Company</a>
            </div>
        </div>


    </div>

</div>