<div class="container">

<h3><i class="fa fa-star-half" style="color:#ffd700;"></i> <b>{{company.name}}</b></h3>


<form action="/admin/company/rating/create/{{company.id}}" method="post" id="rating_form">

    <div class="form-group">
        <label for="">Rating Stars</label><br>
        <i class="fa fa-star fa-5x fa-spin" ></i>
        <i class="fa fa-star fa-5x fa-spin"></i>
        <i class="fa fa-star fa-5x fa-spin"></i>
        <i class="fa fa-star fa-5x fa-spin"></i>
        <i class="fa fa-star fa-5x fa-spin"></i>

    <input type="hidden" class="form-control" name="rating" id="rating">
    <input type="hidden" id="company" value="{{company.id}}" class="form-control" name="company">

    <p id="rating-text"></p>
    </div>

    <div class="form-group">
        <label for="">Write Review</label>
        <textarea name="review" placeholder="What's on your mind?" id="textearea" cols="30" class="form-control" rows="9" required=""></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Submit now</button>
    </div>
</form>
</div>


<style>
    .fa-5x{
        color:rgb(214, 211, 211);
    }
</style>


<script src="/admin/jquery-2.2.4.min.js"></script>
<script src="/admin/js/rating.js"></script>
<script src="/home/vendor/sweetalert.min.js"></script>


