{{> admin/header}}
{{> admin/nav}}
{{> admin/sidebar}}

<!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-dashboard"></i>Control Panel</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="/admin">Dashboard</a></li>
              <li><i class="fa fa-bars"></i>Pages</li>
            </ol>
          </div>
        </div>
        
        {{> admin/msgs}}

       {{{body}}}

      </section>
    </section>


{{> admin/footer}}