{{> home/header}}
{{> home/nav}}
{{> home/sidebar}}

<!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        {{> home/msgs}}

       {{{body}}}

      </section>
    </section>


{{> home/footer}}