{{> messaging/header}}
{{> messaging/nav}}
{{> messaging/sidebar}}

<!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        {{> messaging/msgs}}

       {{{body}}}

      </section>
    </section>

 {{> messaging/footer}}