
<body  class="login-img3-body">
    <div class="container">

        <form class="login-form" action="/logs/signin" method="POST">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                 {{> home/msgs}}
                
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="email" required validate class="form-control" placeholder="Email" autofocus>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" name="password" required class="form-control" placeholder="Password">
                </div>

                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                    <span class="pull-right">New here? <a href="/logs/signup"> Sign up</a></span>
                    <span class="pull-right">Forgot Passord? <a href="/logs/forgot"> Reset</a></span>
                </label>

                <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
                <a style="color:white" class="btn btn-primary btn-lg btn-block" href=""><i class="fa fa-facebook"></i> Sign in</a>

            </div>

        </form>
    
    </div>
</body>