<form action="/admin/testimony/create" method="post">
 <div class="row">
    <div class="col-md-6">
        <label for="" class="control-label">Field/Occupation</label>
        <input type="text" name="field" placeholder="Field/Occupation" required autofocus >
    </div>


     <div class="col-md-6">
        <label for="" class="control-label">Message</label>
      <textarea name="message" id="" cols="5" rows="6" required placeholder="Message"></textarea>
    </div>
 </div>

 <div class="form-group">
     <button type="submit" class="btn btn-primary">Sumbit Testimony</button>
 </div>
</form>