
{{!-- Footer like --}}
<div class="text-right">
<div class="credits">
    Developed by <a href="http://facebook.com/atutechscorp">Atutechs Corp</a>
</div>
</div>
  </section>
  <!-- container section end -->
  <!-- javascripts -->
  <script src="/admin/js/jquery.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <!-- nice scroll -->
  <script src="/admin/js/jquery.scrollTo.min.js"></script>
  <script src="/admin/js/bootstrap-datepicker.js"></script>
  <script src="/admin/js/jquery.nicescroll.js" type="text/javascript"></script>


  <script src="/home/vendor/sweetalert.min.js"></script>
  <script src="/admin/js/scripts.js"></script>
  <script src="/admin/js/custom.js"></script>
