
{{#if error_msg}}
    <div class="alert alert-danger">  <a href="#" class="close" data-dismiss="alert" aria-label="close" ><i class="fa fa-remove"></i></a>  {{error_msg}} </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger">  <a href="#" class="close" data-dismiss="alert" aria-label="close" ><i class="fa fa-remove"></i></a>  {{error}} </div>
{{/if}}


{{#if success_msg}}
    <div class="alert alert-success">  <a href="#" class="close" data-dismiss="alert" aria-label="close" ><i class="fa fa-remove"></i></a>  {{success_msg}} </div>
{{/if}}