{{#if error_msg}}
    <div class="alert alert-danger"><i class="fa fa-remove"></i> {{error_msg}} </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger"><i class="fa fa-remove"></i>  {{error}} </div>
{{/if}}


{{#if success_msg}}
    <div class="alert alert-success"><i class="fa fa-check"></i>  {{success_msg}} </div>
{{/if}}