#colDesc{
    margin: 50px 20px 0 70px;
    min-height: 300px;
    background-color: white;
    padding-top: 40px;
    float: left;
    width: 25%;
}




@media(max-width:720px){
    #colDesc{
        margin: 20px 0 0 35px;
        min-height: 250px;
        background-color: white;
        padding-top: 20px;
        min-width: 80%;
    }

}